<a href="https://colab.research.google.com/github/berilkolukisa/unit-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Coding exercise number 4 

fahreneit_number = int( input('Please enter the number you want to convert.'))
cel_number = ( fahreneit_number - 32 ) * 5/9

print('Your number in Celcius is' , cel_number )

Please enter the number you want to convert.32
Your number in Celcius is 0.0

In [ ]:
#Coding exercise number 5 

miles_number = int( input('Please enter the mile number you want to convert.'))
kilo_number = miles_number * 1609

print('Your number in kilometers is' , kilo_number )

Please enter the mile number you want to convert.1500
Your number in kilometers is 2413500

In [ ]:
#Coding exercise number 6 

equation_a = int( input('Please enter you value for a in the equation.'))
equation_b = int( input('Please enter you value for b in the equation.'))
equation_c = int( input('Please enter you value for c in the equation.'))
x_number = x 
x_number = ( equation_a )x² + ( equation_b )x + ( equation_c ) = 0

print('The result of your of equation is ' , x_number  )

SyntaxError: ignored

In [ ]:
#Coding exercise number 7

In [ ]:
#Coding exercise number 8

user_name = input('Please enter your name.')
user_lastname = input('Plase enter your last name.')
user_age = input('Plase enter your age.')
user_nationality = input('Plase enter your natioanality.')

print(f'Welcome {user_name} {user_lastname} you are {user_age} years old and a national of {user_nationality}')

Plase enter your name.belkıs
Plase enter your last name.kolukısa
Plase enter your age.56
Plase enter your natioanality.turkey
Welcome belkıs kolukısa you are 56 years old and a national of turkey

In [ ]:
#Coding exercise number 9

cola  = int( input('Please enter how many glasses you drank Cola today.'))
calorie = cola  * 64



print(f'Your calorie intake today from Cola is {calorie}')

Please enter how many glasses you drank Cola today.8
Your calorie intake today from Cola is 512